#
#
# Copyright (C) 2006-2018 Kerno
# Name: .htaccess
# Description: mod_rewrite htaccess file
#

DirectoryIndex index.php

<files .htaccess>
order allow,deny 
deny from all
</files>

RewriteEngine On
#RewriteBase /

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [S=35]

# Editable links
RewriteRule ^.+$ index.php?$1 [QSA,L]
